---
title: " "
linkTitle: " "
---

{{< blocks/cover title="Vetsource Retail" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://sites.google.com/vetsource.com/retail-integration-tech-guide/table-of-contents">
  Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://sites.google.com/vetsource.com/retail-integration-tech-guide/table-of-contents">
    Download <i class="fab fa-gitlab ml-2 "></i>
  </a>
  <p class="lead mt-5">Vetsource is built on an open technology platform designed for easy integration. This site is a resource for partners using Vetsource for prescription
    routing capabilities, access to our catalog, and fulfillment services. We are excited to work with you!</p>
  {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-home" title="Vetsource.com" %}}
Visit us on [vetsource.com](https://vetsource.com/)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/vetsource-platform/econnect" %}}
We follow a Merge Request contributions workflow on **Gitlab**. If you see anything that needs to change, please let us know or create your own merge request!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/vetsource" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

