{{ $original := .Get "src" }}
<div id="ohpen_swagger_ui"></div>	
<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: {{ $original }},
    dom_id: '#ohpen_swagger_ui',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    supportedSubmitMethods: [],
    deepLinking: true
  })

  window.ui = ui
}
</script>